.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  text-align: center;
  border: 5px solid black;
  width: 500px;
  margin: 10px;
}

.box_win {
  text-align: center;
  border: 5px solid green;
  width: 500px;
  margin: 10px;
}

.box_lose {
  text-align: center;
  border: 5px solid red;
  width: 500px;
  margin: 10px;
}

.item-img {
  width: 400px;
  height: 400px;
}
